* {
    box-sizing: border-box;
    /*overflow: hidden;*/
}

body {
	overflow-y: hidden;
}

body, html, .container-fluid {
	height: 100% !important;
}

.page-wrapper {
	display: flex;
}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1320px;
    }
}

.container-fluid {
	/*display: flex;*/
	width: 100%;
	height: 100%;
	position: relative;
	/*flex-flow: row wrap;
	justify-content: space-around;*/
	will-change: overflow;
	overflow-y: hidden;
}

.card {
	margin-top: 0.5rem;
}

#header {
	position: relative;
}

#header div {
	align-self: center;
}

#date_time {
	font-size: 1em;
}

#main-content {
	height: 100%;
}

#data-col {
	position: relative;
	float: left;
	height: 100%;
	overflow: auto !important;
	align-items: flex-start;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

#chart-col {
	position: relative;
	float: left;
	height: 100%;
	overflow: auto !important;
	align-self: flex-start;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
	
}

.btn-on-off {
	height: 5em;
	padding: 0;
	text-align: center;
	align-self: middle;
}