* {
    box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

.page-wrapper {
	display: flex;
}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1320px;
    }
}

.container-fluid {
	/*display: flex;*/
	width: 100%;
	position: relative;
	flex-flow: row wrap;
	justify-content: space-around;
	will-change: overflow;
	overflow-y: hidden;
}

.card {
	margin-top: 0.5rem;
}

#header {
	position: relative;
}

#data-col {
	float: left;
	height: auto;
	overflow: auto !important;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;

	align-items: flex-start;
	position: relative;
}

#chart-col {
	position: relative;
	float: left;
	height: auto;
	overflow: auto !important;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;

	align-self: flex-start;
}

#data-col div {
	/*height: 100px;*/
}

.btn-on-off {
	height: 5em;
	padding: 0;
	text-align: center;
	align-self: middle;
}